@import "../../styles/variables.scss";

.container {
	width: 100%;
	min-height: 9rem;
	padding: 1rem;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0 auto;

	.title {
		font-family: Lato, Nunito, sans-serif;
		font-size: 1.4rem;
		font-weight: 700;
	}
}

.form {
	width: 100%;
	max-width: 720px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;

	margin: 1rem auto 0;

	label {
		width: 33%;
		min-height: 3rem;
		border: none;
		border-radius: 5px;
		flex: 2;

		input {
			width: 100%;
			height: 3rem;
			border: none;
			border-radius: 5px;
			outline: none;

			font-size: 1rem;
			font-family: $font-fifth, $font-second, sans-serif;
			color: $color-font;

			padding-left: 1rem;

			&:focus {
				border: 1px solid $color-graylight;
			}

			&::placeholder {
				font-size: 1rem;
				font-family: Lato, Nunito, sans-serif;
				color: $color-font-third;
			}
		}

		span {
			font-size: 0.75rem;
			font-family: $font-fifth, $font-second, sans-serif;
			color: $color-red;
			font-weight: 400;

			margin-top: 1rem;
		}
	}

	button[type="submit"],
	[type="button"] {
		width: 33%;
		height: 3rem;

		font-family: Lato, Nunito, sans-serif;
		font-size: 0.9rem;
		font-weight: 700;
		color: $color-bg-second;
		background-color: $color-font;
		border: none;
		border-radius: 5px;
		outline: none;
	}
}

.registered {
	display: flex;
	width: 100%;
	height: 9rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 1rem;

	h3 {
		font-family: $font-second, sans-serif;
		font-size: 0.9rem;
		font-weight: 700;
		text-align: center;
		color: $color-font;
	}

	p {
		font-family: $font-second, sans-serif;
		font-size: 0.75rem;
		font-weight: 400;
		text-align: center;
		color: $color-font;
	}

	button {
		width: 100%;
		max-width: 20rem;
		min-height: 3rem;

		font-family: $font-second, sans-serif;
		font-size: 0.9rem;
		font-weight: 700;
		color: $color-bg-second;
		background-color: $color-font;
		border: none;
		border-radius: 5px;
		outline: none;

		margin-top: 1rem;
	}
}

@media (max-width: 720px) {
	.form {
		flex-direction: column;
		label {
			width: 100%;
			flex: inherit;
		}

		button[type="submit"],
		[type="button"] {
			width: 100%;
		}
	}
}
