// PENDENTES
// Refatorar nomenclatura das variáveis para um formato mais consistente e padronizado

// fonts
$font-fifth: Nunito;
$font-second: Lato;

// colors
$color-bg: #f2f2f2;
$color-bg-second: #ffffff;
$color-fifth: #585858;
$color-third: #333333;
$color-font: #111111;
$color-font-second: #333333;
$color-font-third: #7a7a7a;
$color-red: #f8475f;
$color-graylight: #bdbdbd;
