@import "../../../styles/variables.scss";

.card {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	img {
		width: 100%;
	}

	&:hover .details {
		background-color: $color-bg;
	}
}

.details {
	width: 100%;
	height: 100%;
	min-height: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;

	h4 {
		font-size: 0.75rem;
		font-weight: 600;
		color: $color-font-third;
	}

	.listPrice {
		font-size: 0.75rem;
		color: $color-font-third;
	}

	.price {
		font-size: 1.25rem;
		font-weight: 700;
		color: $color-font;
	}

	.installments {
		font-size: 0.7rem;
		color: $color-font-third;
	}

	button {
		width: 8rem;
		height: 2rem;

		font-size: 0.75rem;
		font-weight: 700;
		color: $color-bg-second;

		border: none;
		border-radius: 5px;
		background-color: $color-font;

		margin-top: 0.5rem;
	}
}

@media (max-width: 1024px) {
	.card {
		width: 40%;
	}
}
